@font-face {
  font-family: "Humane-SemiBold";
  src: url("/public/fonts/humanefont/Humane-SemiBold.ttf") format("truetype"),
    url("/public/fonts/humanefont/Humane-SemiBold.woff") format("woff"),
    url("/public/fonts/humanefont/Humane-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.humane-SemiBold {
  font-family: "Humane-SemiBold", sans-serif;
}

@font-face {
  font-family: "Humane-Regular";
  src: url("/public/fonts/humanefont/Humane-Regular.ttf") format("truetype"),
    url("/public/fonts/humanefont/Humane-Regular.woff") format("woff"),
    url("/public/fonts/humanefont/Humane-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.humane-Regular {
  font-family: "Humane-Regular", sans-serif;
}

@font-face {
  font-family: "Satoshi-Regular";
  src: url("/public/fonts/satoshifont/Satoshi-Regular.ttf") format("truetype"),
    url("/public/fonts/satoshifont/Satoshi-Regular.woff") format("woff"),
    url("/public/fonts/satoshifont/Satoshi-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.satoshi-Regular {
  font-family: "Satoshi-Regular", sans-serif;
}
